<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma Escolar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Plataforma Escolar</h1>
    </header>

    <main>
        {% block content %}
        <!-- Conteúdo específico de cada página será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Plataforma Escolar</p>
    </footer>
</body>
</html>
