{% extends "base.html" %}

{% block title %}Home Gestor{% endblock %}

{% block content %}
<h2>Bem-vindo, {{ gestor.nome }}</h2>

<!-- Exibir Avisos -->
<h3>Avisos</h3>
<ul>
    {% for aviso in avisos %}
        <li>
            <strong>{{ aviso.titulo }}</strong>: {{ aviso.mensagem }}
            <form action="{{ url_for('excluir_aviso', aviso_id=aviso['_id']) }}" method="POST" style="display: inline;">
                <button type="submit">Excluir</button>
            </form>
            <a href="{{ url_for('manage_aviso', aviso_id=aviso['_id']) }}">Editar</a>
        </li>
    {% else %}
        <li>Nenhum aviso encontrado.</li>
    {% endfor %}
</ul>

<a hr
